<%- include('components/head') %>
<%- include('components/navbar') %>
<%- include('../util/helpers') %>
<%- messages('components/messages', locals) %>

<style>
  .btn-light {
    border-radius: 0;
    width: 300px;
    height: 50px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

<body>
    <div class="container text-center mt-4">
        <h1>Controls</h1>
        <br>
        <div class="col d-flex justify-content-center">
            <div class="row">
                <div class="col">
                    <div class="row my-2">
                        <form id="openForm" action="http://168.105.255.185:5000/control" method="post">
                            <input type="hidden" name="command" value="open" />
                            <input type="hidden" name="user" value="<%= name %>" />
                            <button type="submit" class="btn btn-light border border-1">Open Door</button>
                        </form>
                    </div>
                    <div class="row my-2">
                        <form id="closeForm" action="http://168.105.255.185:5000/control" method="post">
                            <input type="hidden" name="command" value="close" />
                            <input type="hidden" name="user" value="<%= name  %>" />
                            <button type="submit" class="btn btn-light border border-1">Close Door</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('components/footer') %>
<script>
$('#openForm').submit(function( event ) {
  event.preventDefault();
  const form = $(this);
  const url = form.attr('action');
  $.ajax({
    type: "POST",
    url: url,
    data: form.serialize(), // serializes the form's elements.
    success: function(data)
    {
      alert(data); // show response 
      window.location.href = '/robot/controls';
    }
  }); 
});
$('#closeForm').submit(function( event ) {
  event.preventDefault();
  const form = $(this);
  const url = form.attr('action');
  $.ajax({
    type: "POST",
    url: url,
    data: form.serialize(), // serializes the form's elements.
    success: function(data)
    {
      alert(data); // show response 
      window.location.href = '/robot/controls';
    }
  }); 
});
</script>
</body>
