<%- include('components/head') %>
<%- include('components/navbar') %>
<%- messages('components/messages', locals) %>

<style>
  #formContainer {
    width: 70%;
  }
  @media screen and (max-width: 450px) {
    #formContainer {
      width: 100%;
    }
  }
</style>
<body>
    <div class="container text-center px-5">
        <h1 class="my-4">Edit Delivery</h1>
        <div class="container" id="formContainer">
            <form method="post" action="/delivery/update">
                <div class="row">
                    <h5 class="mb-2">Date/Time<br></h5>
                    <div id="deliveryDateTime" hidden><%= delivery[0].startTime %></div>
                    <div id="dateTimePicker" name="dateTimePicker"></div>
                </div>
                <div class="text-center mt-4">
                    <h5 class="mb-0">Location<br></h5>
                    <a href="#">See map</a>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="deliveryPickup">Pickup</label>
                                <select class="form-control" id="deliveryPickup" name="deliveryPickup">
                                    <option <%= delivery[0].startLocation === 'Campus Center' ? 'selected' : '' %>>Campus Center</option>
                                    <option <%= delivery[0].startLocation === 'Queen Liliʻuokalani Center' ? 'selected' : '' %>>Queen Liliʻuokalani Center</option>
                                    <option <%= delivery[0].startLocation === 'Hamilton Library' ? 'selected' : '' %>>Hamilton Library</option>
                                    <option <%= delivery[0].startLocation === 'Sinclair Library' ? 'selected' : '' %>>Sinclair Library</option>
                                    <option <%= delivery[0].startLocation === 'POST Engineering Building' ? 'selected' : '' %>>POST Engineering Building</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="deliveryDestination">Destination</label>
                                <select class="form-control" id="deliveryDestination" name="deliveryDestination">
                                    <option <%= delivery[0].endLocation === 'Campus Center' ? 'selected' : '' %>>Campus Center</option>
                                    <option <%= delivery[0].endLocation === 'Queen Liliʻuokalani Center' ? 'selected' : '' %>>Queen Liliʻuokalani Center</option>
                                    <option <%= delivery[0].endLocation === 'Hamilton Library' ? 'selected' : '' %>>Hamilton Library</option>
                                    <option <%= delivery[0].endLocation === 'Sinclair Library' ? 'selected' : '' %>>Sinclair Library</option>
                                    <option <%= delivery[0].endLocation === 'POST Engineering Building' ? 'selected' : '' %>>POST Engineering Building</option>
                                </select>
                            </div>
                        </div>
                        <input name="deliveryId" value="<%= delivery[0].id %>" hidden>
                    </div>
                </div>
                <div class="form-group my-4">
                    <label for="exampleFormControlInput1"><h5>Delivery Message</h5></label>
                    <input type="text" class="form-control" id="deliveryMessage" name="deliveryMessage" placeholder="Optional - Add a message for the recipient" value="<%= delivery[0].message ? `${delivery[0].message}` : '' %>">
                </div>
                <input type="submit" value="Update Delivery" class="btn btn-success py-2 px-4 border border-1">
            </form>
        </div>
    </div>
    <link href="/scripts/date-time/css/date-time-picker-component.min.css" rel="stylesheet" />
    <script src="/scripts/date-time/js/date-time-picker-component.min.js"></script>
    <script>
      const deliveryDate = new Date(new Date(document.getElementById('deliveryDateTime').innerHTML) - 36000000);  // convert to HST :);
      const today = new Date();
      const oneMonth = new Date();
      oneMonth.setMonth(oneMonth.getMonth() + 1);
      const dateString = deliveryDate.toISOString().substring(0, 19);
      const todayString = today.toISOString().substring(0, 19);
      const oneMonthString = oneMonth.toISOString().substring(0, 19);

      new DateTimePickerComponent.DateTimePicker( 'dateTimePicker', {
        first_date: todayString,
        start_date: dateString,
        last_date: oneMonthString,
        date_output: "timestamp",
        start_hour: 8,
        end_hour: 18,
        styles: {
          active_background: '#335c26',
          active_color: '#fff'
        }
      });
    </script>
<%- include('components/footer') %>
</body>
