<%- include('components/head') %>
<%- include('components/navbar') %>
<%- include('../util/helpers') %>
<%- messages('components/messages', locals) %>

<style>
  .edit {
    color: #0780b9;
    background-color: transparent;
    border: #000000;
  }

  .edit:hover {
    color: #056794;
  }

  .cancel {
    --bs-link-color: #e13232;
    --bs-link-hover-color: #a41313;
  }
</style>
<body>
<div class="container text-center">
    <h1 id="header" class="my-4">Scheduled Deliveries</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Start Location</th>
            <th scope="col">End Location</th>
            <th scope="col">Status</th>
            <th scope="col">Edit / Cancel</th>
        </tr>
        </thead>
        <tbody>
        <% deliveries.forEach( delivery => { %>
            <tr>
                <th scope="row"><%= delivery.startTime.toLocaleDateString() %></th>
                <td><%= delivery.startTime.toLocaleTimeString([], { timeStyle: 'short' }) %></td>
                <td><%= delivery.startLocation %></td>
                <td><%= delivery.endLocation %></td>
                <td><%= getStatus(delivery.status) %></td>
                <td class="row no-gutter">
                    <div class="col d-flex justify-content-end me-2">
                        <form action="/delivery/edit" method="post">
                            <input type="hidden" name="editId" value="<%= delivery.id %>">
                            <button type="submit" class="me-2 edit"><i class="bi bi-pencil-fill"></i></button>
                        </form>
                    </div>
                    <span class="col d-flex justify-content-start ms-2">
                        <a type="button" data-bs-toggle="modal" data-id="<%= delivery.id %>" data-bs-target="#cancelModal" class="ms-2 cancel">
                            <i class="bi bi-x-circle-fill"></i>
                        </a>
                    </span>
                </td>
            </tr>
        <% }); %>
        </tbody>
    </table>
    <a href="/delivery/new" type="button" class="btn btn-light py-2 px-4 border border-1 mt-3">Schedule a New Delivery</a><br>
</div>

<%- include('components/cancelModal') %>
<%- include('components/qrCodeModal') %>
<%- include('components/footer') %>

<script>
  // get the delivery code from the url
  if (window.location.search.includes('order')) {
    $(document).ready(function () {
      $('#qrCodeModal').modal('show');
      $('#deliveryCode').html(window.location.search.slice(-6));
    });
  }

  // get the delivery id and add it to the form
  $(document).ready(function () {
    $('#cancelModal').on('show.bs.modal', function (e) {
      $('#cancelId').val($(e.relatedTarget).data('id'));
    });
  });
</script>
</body>
