<%- include('components/head') %>
<%- include('components/navbar') %>
<%- include('../util/helpers') %>
<%- messages('components/messages', locals) %>

<body>
<div class="container text-center">
    <h1 class="my-4">Scheduled Deliveries</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Start Location</th>
            <th scope="col">End Location</th>
            <th scope="col">Status</th>
            <th scope="col">Edit / Cancel</th>
        </tr>
        </thead>
        <tbody>
        <% deliveries.forEach( delivery => { %>
            <tr>
                <th scope="row"><%= delivery.startTime.toLocaleDateString() %></th>
                <td><%= delivery.startTime.toLocaleTimeString([], {timeStyle: 'short'}) %></td>
                <td><%= delivery.startLocation %></td>
                <td><%= delivery.endLocation %></td>
                <td><%= getStatus(delivery.status) %></td>
                <td>
                    <a href="#" class="me-2"><i class="bi bi-pencil-fill"></i></a>
                    <a href="#" class="ms-2"><i class="bi bi-x-circle-fill"></i></a>
                </td>
            </tr>
        <% }); %>
        </tr>
        </tbody>
    </table>
</div>
<%- include('components/footer') %>
</body>
